<!--1.Template(html) Bloc -->
<template>
  <p><img src="./assets/logo.png" alt =""/></p>
  <h1>Hello{{ name }} {{ age }}</h1> 
  <p v-html = "msg"></p>
  <p v-pre>{{ ceo }}</p>
  <p>{{ ceo }}</p>
</template>

<!--2.Logic(JavaScript) Bloc -->
<script>
alert();
    export default{
      data() {
        return {
        name : 'Mark' ,
        age : 45 , 
        msg : 'How are you?',
        ceo : 'farebook',
        };
      },
    };
</script>

<!-- 3.Style(css) Bloc -->
<style>
  h1{
    color: rgb(251, 93, 172);
  }
</style>